* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: #0a2640;
  color: #fff;
  transition: 0.32s ease-in-out;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  color: #fff !important;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;

}

.App {
  text-align: center;
}

